.box{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 20px auto;
    background-color: grey;
    overflow: hidden;
}
#box1{
    transform:perspective(1000px) rotateX(30deg);
}
.small-box{
    position: absolute;
    background-color: rgb(12, 12, 12);
    width: 50px;
    height: 50px;
    transition: all 1s 200ms;
    top: 100px;
    left: 50%;
}
.fluid-box{
    position: absolute;
    background-color: aqua;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.drum{
    background-color:rgb(124, 5, 5);
    height: 100vh;
    overflow: auto;
    .barrel{
        height: 100vh;
        &:nth-child(odd){
            background-color: rgb(4, 87, 4);
        }
    }
}